<!DOCTYPE html>
<html>
    <head>
        <title>JQUERY GRAVITY DEMO</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="../script/jquery-1.8.2.min.js" type="text/javascript"></script>
        <script src="../script/jquery-ui-1.9.0.custom.min.js" type="text/javascript"></script>
        <script src="../script/jquery.ui.touch-punch.min.js" type="text/javascript"></script>
        <script src="../script/gravityscript-autorun.js" type="text/javascript"></script>
        <script src="../script/gravityscript.js" type="text/javascript"></script>
        <!--        <script src="../script/modernizr-2.6.2.min.js" type="text/javascript"></script>-->
        <link rel="stylesheet" href="../style/samplegravity.css"/>

        <script>

    //            $(document).ready(function(){
                //                $('#main_container').children('div').draggable({
                //                    cursor: "move",
                //                    start: function( event, ui ) {
                //                        console.log(event); 
                //                    },
                //                    stop:function( event, ui ) {
                //                        console.log(event);
                //                    }
                //                });
                //                $('#body').jGravity();
                //                $('.btn1').live('click', function() {
                //                    $('#main_container').jGravity({
                //                        target: 'everything',
                //                        ignoreClass: 'ignoreMe',
                //                        weight: 25  ,
                //                        depth: 1,
                //                        drag: true
                //                    });
                //                });
                //            });

        </script>


    </head>
    <body>
        <div id="main_container">
            <div class="bk1"></div>
            <div class="bk2"></div>
            <div class="bk3"></div>
        </div>
    </body>

</html>
